{
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "importOrder": ["^(react|next(/.*)?)$", "<THIRD_PARTY_MODULES>", "^@/(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
