@import "tailwindcss";
/* src/styles/globals.css */
@import 'tailwindcss/preflight';
/* Replaces @tailwind base */

/* Replaces @tailwind base */

@tailwind utilities;


:root {
  --primary: #F8AF43;
  --secondary: #F8AF43;
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary-foreground: #171717;
  --secondary-foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #F8AF43;
    --secondary: #F8AF43;
    --background: #0a0a0a;
    --foreground: #F8AF43;
    --primary-foreground: #171717;
    --secondary-foreground: #ffffff;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #642929;
    --primary: #F8AF43;
    --secondary: #F8AF43;
    --primary-foreground: #171717;
    --secondary-foreground: #ffffff;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
}
