@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #F8AF43;
  --secondary: #FFFFFF;
  --background: #0a0a0a;
  --tertiary:#333333;
  --foreground: #ededed;
  --primary-foreground: #181818;
  --secondary-foreground: #ffffff;

}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #F8AF43;
    --secondary: #F8AF43;
    --background: #0a0a0a;
    --foreground: #F8AF43;
    --primary-foreground: #171717;
    --secondary-foreground: #ffffff;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #642929;
    --primary: #F8AF43;
    --secondary: #F8AF43;
    --primary-foreground: #171717;
    --secondary-foreground: #ffffff;
  }
}

/*  Heading styles */ 
h1, h2, h3, h4 , h5{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 100%;
}

/* You can set specific sizes if needed individually: */
h1 {
  font-size: 24px;
}

/* Body & paragraph styles */
body, p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}



/* For WebKit browsers (Chrome, Edge, Safari) */
.scroll-container::-webkit-scrollbar {
  width: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1); /* almost invisible */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* visible on hover */
}

/* For Firefox */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scroll-container:hover {
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}


.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}



@layer utilities {
  .glow-shadow {
    box-shadow: 0 0 24px #F8AF4340;
  }
}



